## Verification to Check Magic version:

```bash
magic -version

```
If Magic runs without errors, the installation
is considered successful.
